body {
    padding: 0;
    margin: 0; 
    font-family: "Manrope", sans-serif;
    font-style: normal;
    height: 100vh;
}

html {
    scroll-behavior: smooth; /* Добавляет плавную прокрутку */
}   

a{
    text-decoration: none;
    color: inherit;
}

.container { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
} 

header { 
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 
}

.button-office {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px; 
    padding: 20px 0; 
}

button {
    background-color: #BDF300; 
    border: none;
    border-radius: 100px; 
    padding: 10px 20px; 
    cursor: pointer;
    width: 250px;
}

@keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0px;
    }
    30% {
      left: 110%;
      margin-left: 80px;
    }
    100% {
      left: 110%;
      margin-left: 80px;
    }
}
  
.button {
    overflow: hidden;
    position: relative;
    color: #565656;
}
  
.button:after {
    content: "";
    display: block;
    width: 30px;
    height: 200px;
    margin-left: 60px;
    background: #ffffff;
    opacity: 0.5;
    position: absolute;
    left: -40px;
    top: -100px;
    z-index: 1;
    transform: rotate(45deg);
    transition: all 0.1s;
    animation-name: slideme;
    animation-duration: 3s;
    animation-delay: 0.05s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


h1 {
    margin: 0; 
    font-weight: 300;
    font-size: 20px;
    max-width: 800px;
    text-align: center;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
    display: inline-block;
}

h1:hover {
    transform: scale(1.1);
    color: #3498db; /* Цвет при наведении */
}


h1:first-child {
    white-space: nowrap; 
}

h2 {
    margin: 30px 0 30px 0;
    font-weight: 600;
    font-size: 50px;
    max-width: 800px;
}

.text-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 60px;
}

.back {
    background-color: #F5FBFF;
    width: 100%;
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding-bottom: 50px;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block {
    border: 4px solid #30C7F7;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
    height: auto; /* Меняем на auto, чтобы блок подстраивался под содержимое */
    padding: 20px; /* Добавляем отступы внутри блока */
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем галочку и текст по вертикали */
    font-size: 24px; /* Размер шрифта */
    margin: 10px 0; /* Отступы между пунктами */
    max-width: 230px;
    width: 230px;
    text-align: center;
    font-weight: 600;
}

.checkmark {
    margin-right: 10px; /* Отступ между галочкой и текстом */
    color: #30C7F7; /* Цвет галочки */
    margin-bottom: 10px;
    
}

.list{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-list-general{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 848px;
}

.item-list{
    border: 4px solid #30C7F7;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: auto; 
    padding: 20px 10px 20px 5px; 
    font-size: 22px;
    font-weight: 500;
}

.name-item{
    text-align: center;
}

li{
    padding-top: 20px;
}

.setting{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-setting-general{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.item-setting{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-setting3{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    justify-content: space-between
}

.item-setting img{
    padding: 20px;
}

.back-blue{
    background-color: #409EEF;
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin-top: 50px;
}

.qwe{
    height: 1000px;

}


.form-container {
    background-color: #ffffff;
    padding: 20px;
    width: 600px; /* Ширина формы */
    margin: 20px auto; /* Центрирование формы */
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень для формы */
}

.form-group {
    margin-bottom: 15px; /* Отступ между группами */

}

label {
    display: block; /* Отображение метки как блочный элемент */
    margin-bottom: 5px; /* Отступ снизу */
    font-weight: bold; /* Жирный шрифт для меток */
}

textarea {
    resize: none; /* Запрет изменения размеров текстового поля */
}

.center{
    display: flex;
    justify-content: center
}

h3{
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    max-width: 500px;
}

.highlight {
    color: #517FE2;
}

input[type="text"],
input[type="tel"],
textarea {
    width: 100%; /* Ширина полей ввода */
    padding: 10px; /* Отступы внутри полей */
    border: 2px solid #E3E3E3; /* Цвет границы */
    background-color: #F2F2F2;
    border-radius: 5px; /* Закругление углов */
    box-sizing: border-box; /* Учет отступов и границ в ширине */
    font-family: "Manrope", sans-serif;
    font-style: normal;
}

.required {
    color: red; /* Цвет звездочки */
}

.button-submit {
    background-color: #4AC2EE; /* Цвет кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Без границы */
    border-radius: 1px; /* Закругление углов кнопки */
    padding: 10px; /* Отступы внутри кнопки */
    cursor: pointer; /* Указатель при наведении */
    width: 100%; /* Ширина кнопки */
}

.button-submit:hover {
    background-color: #409EEF; /* Цвет кнопки при наведении */
}

footer {
    display: flex;
    flex-direction: row;
    border-top: 3px solid #FFFFFF; /* Цвет границы */
    border-bottom: 3px solid #FFFFFF; /* Цвет границы */
    background-color: #409EEF;
    height: auto;
    padding-top: 40px;
    align-items: flex-end;
    justify-content: center;
}

h4{
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 300;
    padding: 20px;
}

.icon svg {
    transition: transform 0.3s ease;
}

.footer-text h4 {
    transition: transform 0.3s ease, font-size 0.3s ease;
 }

 .icon svg:hover {
    transform: translateY(-10px);
}

.footer-text h4:hover {
    Transform:scale(1.1);
}

.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.footer-text{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}


.footer-text h4.animate-text {
    transform: scale(1.1);
    transition: transform 0.3s ease, font-size 0.3s ease;
}

.icon svg.animate-icon {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}


@media (max-width: 768px) {
    .button-office h1:not(:last-child) {
        display: none; 
    }
}



.reg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.reg-popup {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    transition: top 0.5s ease-in-out;
    border-bottom: solid 4px  #323574   ;
    border-top: solid 4px #323574;
    border-radius: 0;
    z-index: 100;
    height: 375px;
}

.reg-popup.show {
    top: 20%;
}

.reg-border-line {
    height: 2px;
    background-color: #007bff;
    margin: 0 0 10px 0;
}

.reg-logo {
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.reg-form-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: white;
}

.reg-form-group input {
    width: 70%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0;
    box-sizing: border-box;
    background-color: white;
}

.reg-form-group button {
    width: 70%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.reg-form-group button:hover {
    background-color: #0056b3;
}

h-req{
    font-size: 22px;
    color: #0056b3;
    padding-left: 120px;
}